@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --primary-fonts: 'Source Sans Pro', sans-serif;
  --secondary-fonts: 'Oswald', sans-serif;
  --main-color: #ffffff;
  --footer-text-color: #ffffff66;
  --margin-center: 0 auto;
}

* {
  box-sizing: border-box;
}

a[href] {
  text-decoration: none;
}

header, section {
  padding: 0 20px;
}

.wrapper {
  max-width: 900px;
  position: relative;
  z-index: 10;
  margin: var(--margin-center);
}

/* Header */
header {
  display: flex;
  align-items: center;
}

.header-link {
  flex: 1 1 110px;
  color: var(--main-color);
  font-family: var(--primary-fonts);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  flex: 2 1 auto;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.nav-item {
  transition: all 0.3s ease-in-out;
  margin: 0 15px;
}

.nav-item:hover {
  box-shadow: 0 2px 0 var(--main-color);
}

.nav-item a {
  display: block;
  color: var(--main-color);
  font-family: var(--primary-fonts);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px 0;
}

.nav-menu-button {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}

/* Main Section */
.main-section {
  background: url("../assets/section1-bg.png") 0 0 no-repeat;
  background-size: cover;
  padding: 20px 0;
  position: relative;
}

.block-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  z-index: 1;
}

.small-stars {
  background: url("../assets/Animation-image-02.svg") 0 0 no-repeat;
  background-size: cover;
  transform-origin: 100% 50%;
  animation: motion 4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes motion {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.big-stars {
  background: url("../assets/Animation-image-01.svg") 0 0 no-repeat;
  background-size: cover;
  animation: emersion 5s cubic-bezier(0.64, 0, 0.78, 0) infinite;
}

@keyframes emersion {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.wrapp-main-content {
  display: block;
  margin: 200px auto 280px;
  max-width: 430px;
}

.logo {
  display: block;
  width: 63px;
  height: 63px;
  margin: var(--margin-center);
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: rotateY(180deg) scale(1.4);
}

.title {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: var(--main-color);
  padding: 15px 0 20px;
}

.sub-title {
  font-family: var(--primary-fonts);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffffb2;
}

/* Second Section */
.second-section {
  background: #eeeeee;
  padding: 85px 20px 100px;
  position: relative;
  z-index: 10;
}

.second-title {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 40px;
}

.second-section .sub-title {
  color: #666666;
  margin: 40px 0 40px;
}

.wrapper-paragraph {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px;
  flex-wrap: wrap;
}

.block-paragraph {
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 400px;
  padding: 10px;
  margin: var(--margin-center);
}

button {
  color: var(--main-color);
  border: none;
  text-align: center;
  display: block;
  margin: var(--margin-center);
  cursor: pointer;
  transition: all 0.5s ease;
}

.read-more-btn {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  background: #55c2d8;
  border-radius: 18px;
  padding: 5px 18px;
  transform: rotate(0);
  transform-origin: left top;
}

.read-more-btn:hover {
  transform: rotate(10deg);
}

/* Third Section */
.third-section {
  background: url("../assets/section3-bg.png");
  background-size: cover;
  position: relative;
  padding: 85px 0 90px;
}

.third-section:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 79, 42, 0.3);
}

.third-section .second-title {
  position: relative;
  color: var(--main-color);
}

.play-btn {
  position: relative;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 50%;
  margin: 55px auto 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn:hover {
  background: #ffffff;
}

svg path {
  transition: all 0.5s ease;
}

svg:hover path {
  fill: #39C2D7;
}

.third-section .sub-title {
  color: var(--main-color);
  position: relative;
  margin-bottom: 55px;
}

/* Footer */
.footer {
  background: #464547;
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.4;
  color: var(--footer-text-color);
  padding: 50px 20px 40px;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  flex: 1 0 auto;
}

.footer-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-footer {
  font-family: var(--primary-fonts);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--main-color);
}

.logo-footer img {
  vertical-align: text-top;
}

.mail-link {
  color: var(--footer-text-color);
  padding-top: 15px;
}

@media only screen and (max-width: 768px) {

  header {
    padding: 0 50px;
  }

  .navbar {
    display: none;
  }

  .nav-menu-button {
    display: block;
    cursor: pointer;
  }

  .nav-menu-button.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-menu-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-menu-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-section,
  .small-stars,
  .big-stars {
    background-position: right 0;
  }

  .wrapp-main-content {
    padding: 0 50px;
  }

  .second-section {
    padding: 85px 50px 100px;
  }

  .second-section .second-title,
  .second-section .sub-title,
  .block-paragraph {
    text-align: left;
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
  }

  .second-title br,
  .sub-title br {
    display: none;
  }

  .read-more-btn {
    margin: 0;
  }

  .third-section {
    text-align: center;
    padding: 85px 50px 90px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-item {
    margin: 15px 0;
  }

}